{% extends 'base.html' %} {% block title %} Address Search {% endblock %} 

{% block content %}
<div class="container-fluid">
        <form id="address-lookup-form" method="post">
          <div class="mb-3">
            <label for="street-address" class="form-label">Street address</label>
            <input type="text" id="street-address" name="street-address" autocomplete="street-address" required enterkeyhint="next" class="form-control"></input>
          </div>
          <div class="mb-3">
            <label for="postal-code" class="form-label">ZIP or postal code </label>
            <input required id="postal-code" name="postal-code" autocomplete="postal-code" enterkeyhint="next" class="form-control">
          </div>
          <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input required type="text" id="city" name="city" autocomplete="address-level2" enterkeyhint="next" class="form-control">
          </div>
          <div class="mb-3">
            <label for="state" class="form-label">State</label>
            <input required type="text" id="state" name="state" autocomplete="address-level2" enterkeyhint="next" class="form-control">
          </div>
        </form>
        <button class="btn btn-primary" form="address-lookup-form" formaction="/api/geocode">Search</button>
</div>
{% endblock %}